.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 60px;
  z-index: 1001;
}

.navbar.transparent {
  background: transparent;
}
.navbar.menu-open {
  background-color: rgba(0, 0, 0, 0.9);
}

.nav-container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  transition: all 0.3s ease;
  padding: 0 1rem;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-menu li a {
  color: #ffeb8a;
  font-weight: 900;
  font-size: 1.05rem;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.nav-menu li a.active {
  color: #6b7cff;
}

.nav-menu li a.active::after {
  width: 100%;
  background: #6b7cff;
}
.nav-menu li a:focus {
  color: #6b7cff;
}
.nav-menu li a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: #6b7cff;
  transition: width 0.3s ease;
}

.nav-menu li a:focus::after {
  width: 100%;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #ffeb8a;
}

.hamburger .bar.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger .bar.open:nth-child(2) {
  opacity: 0;
}

.hamburger .bar.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
@media (max-width: 1024px) {
  .nav-menu {
    gap: 1.2rem;
  }

  .nav-menu li a {
    font-size: 0.95rem;
  }
}
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    margin-left: auto;
  }

  .nav-menu {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-height: 0;
    overflow: hidden;
  }

  .nav-menu li {
    padding: 0.5rem 0;
  }

  .nav-menu.active {
    max-height: 500px;
  }

  .nav-menu li a {
    font-size: 1.2rem;
    color: #ffeb8a;
  }
}

@media (max-width: 480px) {
  .nav-container {
    padding: 0.5rem;
  }

  .nav-menu {
    gap: 0.6rem;
  }

  .nav-menu li a {
    font-size: 0.9rem;
  }
}
