.navbar {
  position: fixed;
  top: 0;
  right: -350px;
  width: 100%;
  height: 60px;
  z-index: 1001;
  transition: all 0.4s ease;
}

.navbar.transparent {
  background: transparent;
}

.nav-container {
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-menu li a {
  color: #ffeb8a;
  font-weight: 900;
  font-size: 1.05rem;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.nav-menu li a.active {
  color: #6b7cff;
}

.nav-menu li a.active::after {
  width: 100%;
  background: #6b7cff;
}
.nav-menu li a:focus {
  color: #6b7cff;
}
.nav-menu li a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: #6b7cff;
  transition: width 0.3s ease;
}

.nav-menu li a:focus::after {
  width: 100%;
}
/* .nav-menu li a:hover::after {
  width: 100%;
} */
