@media screen and (max-width: 1280px) {
  header {
    height: 80px;
  }

  header:hover {
    background-color: #fff;
  }
  header:hover .header-logo a img {
    opacity: 1;
  }

  /* ✅ 이 아래 부분은 모바일 전용으로만 */
  nav > ul > li:hover > a,
  nav > ul > li:hover > ul,
  nav > ul > li:hover > a::after,
  .icn:hover,
  .menu-btn .btn:hover.prev-btn::after,
  .menu-btn .btn:hover.next-btn::after,
  nav ul li ul li a:hover,
  .shadow {
    all: unset;
    cursor: default;
  }

  nav > ul > li > a,
  nav ul li ul li a,
  .icn {
    background: none;
    color: #1c1c1b;
    border-color: #1c1c1b;
    text-decoration: none;
    opacity: 1;
  }

  nav {
    display: none;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26px;
    height: 18px;

    cursor: pointer;
    margin-left: 10px;
    transition: all 0.3s ease;
  }

  .hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #1c1c1b;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  .hamburger.active span {
    background-color: #fff;
  }
  .hamburger.active span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .mobile-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #1c1c1b;
    box-shadow: -3px 0 8px rgba(0, 0, 0, 0.2);
    transition: right 0.4s ease;
    z-index: 1000;
    padding-top: 120px;
    border-right: 5px solid #fdd000;
  }

  .mobile-logo {
    width: 200px;
    height: 40px;
    position: relative;
    top: -8%;
    left: 50%;
    transform: translateX(-50%);
  }

  .mobile-logo img {
    width: 100%;
  }

  .mobile-nav.active {
    right: 0;
  }

  body.menu-open .scroll-indicator {
    display: none;
  }
  .mobile-nav {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 70px;
  }

  .mobile-nav > ul > li {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
    margin-left: 50px;
    height: 150px;
    width: 90%;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
  }
  .mobile-nav > ul > li:nth-child(3) {
    height: 100px;
  }
  .mobile-nav > ul > li:nth-child(4) {
    height: 230px;
  }
  .mobile-nav > ul > li:nth-child(5) {
    height: 200px;
  }
  .mobile-nav > ul > li:nth-child(6) {
    height: 100px;
  }

  .mobile-nav ul li a {
    font-size: 17px;
    color: white;
  }

  .mobile-nav ul li ul {
    margin: -45px 0 0 210px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .mobile-nav ul li ul li a {
    font-size: 14px;
    font-weight: 500;
    color: gray;
  }
  .mobile-nav ul li ul li a:hover {
    color: white;
    text-decoration: underline;
  }

  .icon {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .left_float {
    display: none;
  }
  /* 오른쪽 네비메뉴 */
  .right-toggle-btn {
    display: flex;
    position: fixed;
    text-align: center;
    bottom: 10px;
    color: white;
    font-weight: bold;
    right: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1c1c1b;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(48, 24, 24, 0.3);
    z-index: 1600;
    transition: all 0.3s ease;
  }
  .right-toggle-btn:hover {
    background-color: #1c1c1b;
  }

  .right_float ul {
    position: fixed;
    bottom: 90px;
    right: 10px;
    transform: translateY(-50%) scale(0); /* 가운데 정렬 + 축소 */
    transform-origin: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .right_float.active ul {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
  }

  .right_float ul li {
    line-height: 16px;
    width: 80px;
    height: 80px;
    padding: 13px 5px;
    font-size: 11px;
  }

  .right_float ul li span {
    font-size: 13px;
  }

  /* 메뉴섹션 */
  .menu-text {
    position: absolute;
    top: 19%;
    left: 7%;
  }

  .menu-title h3 {
    font-weight: 300;
    font-size: 20px;
  }

  .menu-title p {
    font-size: 30px;
  }

  .title-back {
    width: 380px;
  }

  .menu-under h3 {
    font-size: 18px;
  }
  .menu-under p {
    font-size: 14.4px;
  }
  .menu-container button {
    font-size: 16px;
    width: 130px;
    padding: 5px 15px;
  }

  .menuslides-viewport {
    position: absolute;
    top: 18%;
    left: 57%;
    width: 43%;
    height: 597px;
    overflow: hidden;
  }

  .menuslide {
    width: 80%;
    border-left: 1px solid rgb(212, 212, 212);
    border-right: 1px solid rgb(212, 212, 212);
  }

  .menu-btn {
    display: none;
  }
  .menuslide h3 {
    margin: 20px 0 0 35px;
    font-size: 18.2px;
    font-weight: 400;
  }

  .menuslide p {
    margin: 5px 0 0 35px;
    font-size: 11.7px;
    color: #1c1c1b;
    font-weight: 300;
    letter-spacing: normal;
  }
  /* 프랜차이스 섹션 */
  .franchise-container {
    left: 1vw;
    top: 17vw;
    width: 90%;
    height: auto;
    position: relative;

    gap: 100px;
    margin: 0 auto;
  }

  .franchise-intro {
    width: 100%;
    margin-bottom: 30px;
  }
  .franchise-introti h3 {
    font-size: 18.8px;
  }
  .franchise-introti h1 {
    font-size: 50.4px;
    line-height: 50px;
  }
  .franchise-introti span {
    font-size: 40px;
  }
  .back-white {
    width: 290px;
    height: 84px;
    margin-top: -150px;
  }
  .franchise-introte h3 {
    font-size: 18.8px;
  }

  .franchise-introte p {
    font-size: 14.4px;
  }

  .franchise-video {
    margin: 20px;
    max-width: 550px;
  }

  .franchise-video .videos {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
  }
  /* 메가섹션 */
  .mega-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;
  }

  .mega-text {
    flex: 1 1 400px;
    max-width: 50%;
    min-width: 300px;
    margin: 0;
    padding-right: 50px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
  }

  .mega-text {
    left: 7%;
    top: 30%;
  }
  .mega-title h3 {
    font-size: 18.8px;
  }
  .mega-title h1 {
    font-size: 50.4px;
    line-height: 50px;
  }

  .mega-under h3 {
    font-size: 18px;
    font-weight: 400;
  }
  .mega-under p {
    font-size: 14.4px;
  }
  .mega-image {
    flex: 0 0 600px;
    max-width: 600px;

    position: relative;
    height: 100%;
    margin: 0;
  }

  .mega-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  /* 이벤트섹션 */

  #event-section {
    width: 100%;
  }
  .event-wrap {
    transform: scale(calc(100vw / 1280))
      translateX(calc((1280px - 100vw) / -2 / (100vw / 1280)))
      translateY(calc((100vh - (100vh * (100vw / 1280))) / -2 / (100vw / 1280)));
    transform-origin: center center;
  }
  .event-body {
    width: 90%;
    height: auto;
    margin: 30px auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .event-card {
    width: 100%;
    height: auto;
    border: 1px solid rgb(232, 232, 222);
    border-radius: 10px;
  }

  .event-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .event-title {
    text-align: center;
    margin: 60px auto 0;
  }

  .event-title h3 {
    font-size: 20px;
    margin: 0;
  }

  .event-title h1 {
    font-size: 50.4px;
    margin: 10px 0 0 0;
  }

  .event-back {
    width: 310px;
    height: 30px;
    margin: -30px auto 0;
  }

  .event-card h2 {
    font-size: 18.2px;
    margin: 20px 0 0 30px;
  }

  .event-card p {
    margin: 40px 0 30px 30px;
    font-size: 11.7px;
  }

  .event-btn {
    text-align: center;
    margin-top: 0px;
  }

  .event-btn p {
    font-size: 13px;
    margin-bottom: 15px;
  }

  .event-btn button {
    width: 160px;
    height: 50px;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    background-color: #fdd000;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-out, background-color 0.2s ease-out;
  }

  .event-btn button:hover {
    transform: translateY(-4px);
    background-color: #ffda47;
  }

  /* 푸터 */
  #footer-section {
    width: 100%;
    height: auto;
  }
  .foot-nav ul {
    justify-content: center;
    width: 100%;
  }

  .foot-nav ul li {
    font-size: 13px;
  }

  .nav-foot {
    display: none;
  }

  .foot-main {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
  }
  .foot-text {
    width: 100%;
    justify-content: center;
    flex-direction: row;
    display: flex;
    gap: 5px;
    font-size: 11.7px;
    margin-top: 0;
    flex-wrap: wrap;
    line-height: 20px;
  }
}

@media screen and (max-width: 760px) {
  /* 푸터 */
  .foot-nav {
    padding: 15px;
  }
  .foot-nav ul {
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
  }

  .foot-nav ul li a {
    font-size: 12px;
  }
  .foot-icon {
    justify-content: center;
  }

  .foot-icon > img {
    width: 1px;
    height: auto;
    flex-basis: 100%; /* ✅ 로고 한 줄 독점 */
    text-align: center;
    margin-bottom: 10px;
  }

  .foot img {
    width: 100%;
  }

  .foot-text {
    font-size: 10.4px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width: 1281px) {
  .hamburger {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}
